.page__contact{
	position: relative;
	padding-bottom: 50px;
	.wpcf7-form{
		max-width: 475px;
		font-weight: normal;
		font-size: 14px;
		color: #FFFFFF;
		margin: 0 auto 30px;
		transition: all .5s;

		input,textarea{
    		padding: 12px 16px;
			margin-bottom: 24px;
			&[type="radio"]{
				margin-bottom: 0;
				margin-right: 5px;
			}
			&:focus{
				outline: none;
				box-shadow: none;
			}
		}
		.wpcf7-submit{
		    width: 100%;
		    font-weight: 600;
		    font-size: 18px;
		    padding: 15px 10px;
		    margin-bottom: 0;
		    color: #fff;
		    border-color: transparent;
		    background: #17B978;
		    border-radius: 29px;
		}
	}


	@media (max-width: 991px){

	}
	@media (max-width: 575px){

	}
}