.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width:100%;
	z-index: 10;
	.container{
		max-width: 1600px;
	}
	&.is-active{
		background: rgba(21, 17, 52, .85);
    	backdrop-filter: blur(2px);
		// animation:stuckMoveDown .6s;
	}
	.logo{
		margin-bottom: 0;
		transition: opacity .5s;
		img{
			max-height: 50px;
		}
	}
	&__support{
		font-weight: 600;
		font-size: 12px;
		line-height: 24px;
		color: #FFFFFF;
		a{
			color: #fff;
			display: flex;
			align-items: center;
		}
		img{
			margin-right: 10px;
			width: auto;
			max-height: 30px;
		}
	}
	@media (max-width: 1199px){
		&__support{
			display: none;
		}
	}
	@media (max-width: 991px){
		padding: 15px 0;

		.logo {
		    flex-grow: 1;
		    img{
		    	max-height: 56px;
		    }
		}
	}

	@media (max-width: 575px){

	}
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}

/* Fix WP*/
.admin-bar{
	.header.-fix, .nav__mobile{
	    top: 32px;
	}
	@media (max-width: 782px) {
	    .header.-fix, .nav__mobile{
	        top: 46px;
	    }
	}
	@media (max-width: 767px) {
	    .header.-fix{
	        top: 0;
	    }
	    #wpadminbar{
	        display: none;
	    }
	}
}

.wpcf7-spinner {
    position: absolute;
    top: 19px;
    right: 0;
}
